# Dependencias
node_modules/

# Builds
dist/
out/
coverage/

# Caché incremental de TypeScript
*.tsbuildinfo

# Entorno y logs
*.log
.env
.env.*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
